

.title
{
  align-self: center;
}
#name_lib
{
  font-size: 5em;
}
#mini_learn_container,#mini_description_container,#mini_About_container
{
  margin: auto auto auto auto;
  flex-direction: row;
  justify-content: center;
  display: flex;
}
#mini_learn_text_container,#mini_description_text_container,#mini_About_text_container
{
  flex-direction: column;
  justify-content: center;
  display: flex;
}
