

.gif
{
  height: 30px;
}
.about
{
  font-size: x-small;
  color : rgb(158, 158, 158);
  align-self: center;
  text-decoration: none;
}
.-about
{
  font-size: x-small;
  color : rgb(158, 158, 158);
}
.back
{
  color: blue;
}
.page
{
  flex-direction: row;
  display: flex;
}
img
{
  margin: auto auto auto auto;
}
h1,h2,h3,h4,h5,h6
{
  white-space: nowrap;
}
a
{
  color: blue;
}
